@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:wght@100;400&display=swap");
@font-face {
	font-family: "neon";
	src: url("../media/fonts/NEON____.ttf");
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.header {
	display: flex;
	background-color: black;
}
.header_title {
	text-decoration: none;
	color: white;
	padding: 20px;
	font-family: "neon";
	font-size: 35px;
}
.header_title:hover {
	text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 8px #fff, 0 0 35px rgb(51, 99, 233),
		0 0 25px rgb(51, 99, 233), 0 0 15px rgb(51, 99, 233), 0 0 25px rgb(51, 99, 233),
		0 0 45px rgb(51, 99, 233);
}
.navbar {
	display: flex;
	height: 12vh;
	background-color: rgb(0, 0, 0);
	align-items: center;
	justify-content: center;
	margin-left: 10px;
}
.input_container_navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70%;
	width: 400px;
	position: relative;
}
.input_navbar {
	width: 250px;
	height: 100%;
	width: 100%;
	font-size: 18px;
	padding-left: 20px;
	background-color: rgba(9, 65, 218, 0.363);
	border: none;
	outline: none;
	border-radius: 30px;
}
.input_navbar::placeholder {
	color: white;
}
.button_navbar {
	position: absolute;
	right: 3px;
	height: 100%;
	width: 14%;
	font-size: 30px;
	color: white;
	background: none;
	background-color: rgba(9, 65, 218, 0.363);
	border: none;
	cursor: pointer;
	border-radius: 50%;
	transition: 0.3s;
}
.button_navbar:hover {
	background-color: rgba(85, 85, 85, 0);
}
.link_container {
	display: flex;
	gap: 50px;
	width: 400px;
	justify-self: baseline;
	justify-content: center;
	align-items: flex-end;
}
.links {
	text-decoration: none;
	color: whitesmoke;
	font-size: 26px;
	padding-bottom: 14px;
	transition: text-shadow 0.2s;
}
.links:hover {
	transform: scale(1.02);
	text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 8px #fff, 0 0 35px rgb(51, 99, 233),
		0 0 25px rgb(51, 99, 233), 0 0 15px rgb(51, 99, 233), 0 0 25px rgb(51, 99, 233),
		0 0 45px rgb(51, 99, 233);
}
.container {
	width: 100%;
	height: 88vh;
	background-image: url("../media/backgrounMainIndex.jpg");
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: space-around;
	position: absolute;
}
.form_container {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: black;
}
.form {
	display: flex;
	width: 100%;
	height: 75%;
	padding: 20px;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 40px;
	font-family: "Roboto", sans-serif;
}
.input {
	width: 30%;
	height: 40px;
	font-size: 16px;
	padding-left: 8px;
	background-color: rgba(9, 65, 218, 0.363);
	outline: none;
	border: none;
	border-radius: 6px;
	color: white;
}
.input::placeholder {
	color: rgb(255, 255, 255);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 10px 30px rgb(0, 34, 128) inset !important;
}
#idNumber {
	width: 50%;
}
.botones {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 12%;
}
.boton {
	font-size: 18px;
	height: 40px;
	width: 120px;
	border: none;
	font-weight: bold;
	color: aliceblue;
	background-color: rgb(2, 72, 163);
	cursor: pointer;
}
.boton:hover {
	background-color: rgb(51, 99, 233);
}
.boton:active {
	box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 5px #fff inset, 0 0 10px #fff inset,
		0 0 10px #fff inset, 0 0 20px rgb(51, 99, 233), 0 0 20px rgb(51, 99, 233) inset,
		0 0 30px rgb(51, 99, 233) inset, 0 0 30px rgb(51, 99, 233), 0 0 50px rgb(51, 99, 233),
		0 0 50px rgb(51, 99, 233) inset;
}
.database {
	width: 40%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.877);
	display: block;
	flex-direction: column;
	overflow-y: scroll;
	color: #fff;
	padding: 20px;
}
.film {
	display: flex;
	width: 100%;
	height: 11%;
	margin-top: 20px;
	transition: background-color 0.2s;
	background-color: rgb(2, 72, 163);
	border-radius: 6px;
	border: none;
}
.film:hover {
	background-color: rgba(2, 72, 163, 0.349);
	cursor: pointer;
}
.film:active {
	box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 5px #fff inset, 0 0 10px #fff inset,
		0 0 10px #fff inset, 0 0 20px rgb(51, 99, 233), 0 0 20px rgb(51, 99, 233) inset,
		0 0 30px rgb(51, 99, 233) inset, 0 0 30px rgb(51, 99, 233), 0 0 50px rgb(51, 99, 233),
		0 0 50px rgb(51, 99, 233) inset;
}
.film span {
	display: flex;
	width: 100%;
	font-size: 22px;
	height: 100%;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.movie_body {
	display: flex;
	flex-direction: column;
}
.vsc_controller {
	display: none;
	z-index: -25;
}
#controller {
	display: none;
	z-index: -200;
}
.trailer {
	aspect-ratio: 16/9;
	width: 100%;
	height: auto;
}
.movie_specs {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	gap: 10px;
	font-size: 20px;
}
.specs_title {
	border-bottom: 1px solid white;
	padding: 20px 20px 0px 20px;
	font-size: 22px;
	font-weight: bold;
}

.movie_info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 400px;
	gap: 20px;
	padding-left: 20px;
}
.movie_info p {
	width: 240px;
	gap: 20px;
}

/*Scroll Bar*/
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: rgba(128, 128, 128, 0.671);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(128, 0, 167);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.toast {
	position: absolute;
	right: 28%;
	bottom: 10%;
	width: 220px;
	height: 100px;
	background-color: rgba(159, 9, 218, 0.911);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	border-radius: 10px;
	transition: opacity 0.4s;
	box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 5px #fff inset, 0 0 10px #fff inset,
		0 0 10px #fff inset, 0 0 20px rgb(140, 4, 252), 0 0 20px rgb(140, 4, 252) inset,
		0 0 30px rgb(140, 4, 252) inset, 0 0 30px rgb(140, 4, 252), 0 0 50px rgb(140, 4, 252),
		0 0 50px rgb(140, 4, 252) inset;
	color: white;
	opacity: 0;
	font-size: 20px;
}
